name: Deploy Docs to Netlify

permissions:
  contents: read

on:
  push:
    tags:
      - "docs-v*.*.*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Netlify Build Hook
        run: curl -s -X POST "${{ secrets.NETLIFY_BUILD_HOOK }}"
